@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  @apply dark:bg-black;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.dark {
  @apply bg-gray-900;
}

.token.plain-text {
  @apply text-gray-700 dark:text-gray-300;
}
