*
  margin: 0
  padding: 0
  box-sizing: border-box

// HTML background color

body
  min-width: 20rem
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", san-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-rendering: optimizeLegibility

h1,
h2,
h3,
h4
  font-family: "DM Serif Text", serif;
  font-weight: 400 !important;
