:root {
	--hiq-html-background-color: #F9FAFB;
	--hiq-body-background-color: #F9FAFB;
	--hiq-font-size-large: 1.125rem;
	--hiq-border-radius: 6px;
	--hiq-outline-width: 0;
	--hiq-input-padding-vertical: 1.25rem;
	--hiq-input-padding-horizontal: 1rem;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

.dark {
	--hiq-html-background-color: #1F2937;
	--hiq-body-background-color: #1F2937;
	--hiq-text-color: white;
	--hiq-input-border-color: #353E4D;
	--hiq-input-background-color: #111727;
	--hiq-disabled-background-color: #374150;
	--hiq-disabled-border-color: #353E4D;
	--hiq-input-invalid-border-color: #e3e5e8;
}

.wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	padding: 2rem;
}

@media (min-width: 640px) {
	.wrap {
		padding: 4rem;
	}
}

input {
	font-size: var(--hiq-font-size-large);
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05);
}

input:focus {
	border-color: #10B981;
	box-shadow: 0 0 0 1px #1EB981, 0 1px 2px 0 rgba(0,0,0,0.05);
}
